In [1]:
import pandas as pd
import datetime
import numpy as np

In [2]:
dec10 = pd.read_csv('Distribution_Dec_10.csv')
dec18 = pd.read_csv('Distribution_Dec_18.csv')
dec10.head(5)

,Response ID,Last Name,First Name,Email,Status,End Date,Unnamed: 6
0,R_0qAIMw5Qfh4oVXj,Abad,Cristina Lucia,cabad@fiec.espol.edu.ec,Finished Survey,12/5/19 11:47,NaN
1,NaN,Abbasi Asl,Reza,abbasi@berkeley.edu,Email Sent,NaN,NaN
2,NaN,Abbott,Joshua Thomas,joshua.abbott@berkeley.edu,Email Sent,NaN,NaN
3,NaN,Abe,Keita,keita43@uw.edu,Email Bounced,NaN,NaN
4,NaN,Aberger,Christopher R.,craberger@gmail.com,Email Sent,NaN,NaN

In [3]:
dec10 = dec10.rename(columns= {'End Date':'end_date','Status':'Status10'})
dec18 = dec18.rename(columns= {'End Date':'end_date','Status':'Status18'})

In [4]:
dec10['date'] = pd.to_datetime(dec10['end_date']).dt.day

In [5]:
dec18['date'] = pd.to_datetime(dec18['end_date']).dt.day

In [6]:
dec18s = dec18.loc[:,['Email','Status18']]
dec10s = dec10.loc[:,["Email",'Status10']]

In [7]:
dec18.loc[dec18['date'] >= 11.0, 'New'] = 'Yes'

In [8]:
dec18s

                           Email         Status18
0        cabad@fiec.espol.edu.ec  Finished Survey
1            abbasi@berkeley.edu       Email Sent
2     joshua.abbott@berkeley.edu       Email Sent
3                 keita43@uw.edu    Email Bounced
4            craberger@gmail.com       Email Sent
...                          ...              ...
2173        jzim@cs.stanford.edu       Email Sent
2174        ziyadi2@illinois.edu    Email Bounced
2175                dzou@umn.edu  Finished Survey
2176    wzou@alumni.stanford.edu       Email Sent
2177       zwillin1@illinois.edu       Email Sent

[2178 rows x 2 columns]

In [9]:
statusmerge = dec10s.merge(dec18s, on = 'Email', how = 'right')
statusmerge

                           Email         Status10         Status18
0        cabad@fiec.espol.edu.ec  Finished Survey  Finished Survey
1            abbasi@berkeley.edu       Email Sent       Email Sent
2     joshua.abbott@berkeley.edu       Email Sent       Email Sent
3                 keita43@uw.edu    Email Bounced    Email Bounced
4            craberger@gmail.com       Email Sent       Email Sent
...                          ...              ...              ...
2173        ziyadi2@illinois.edu    Email Bounced    Email Bounced
2174                dzou@umn.edu   Started Survey  Finished Survey
2175    wzou@alumni.stanford.edu       Email Sent       Email Sent
2176       zwillin1@illinois.edu       Email Sent       Email Sent
2177       jessicatysu@gmail.com              NaN     Email Failed

[2178 rows x 3 columns]

In [10]:
dec18new = dec18[dec18['New'] == 'Yes']

In [11]:
newemail = list(dec18new.Email)
len(newemail)

82

In [12]:
wave1 = pd.read_csv('Wave1PhD.csv')
wave1.columns

Index(['name', 'FirstName', 'LastName', 'last_surname_part', 'email',
       'secondary_email', 'graduate_id', 'survey complete_no reminder\n',
       'survey started_no reminder\n', 'survey complete_reminder 1\n',
       'survey started_reminder 1\n'],
      dtype='object')

In [13]:
wave1 = wave1.rename(columns = {'survey started_reminder 1\n':'startednew', 'survey complete_reminder 1\n':'completednew'})

In [14]:
wave1.head(3)

,name,FirstName,LastName,last_surname_part,email,secondary_email,graduate_id,survey complete_no reminder\n,survey started_no reminder\n,completednew,startednew
0,"Abad, Cristina Lucia",Cristina Lucia,Abad,Abad,cabad@fiec.espol.edu.ec,NaN,"Abad, Cristina Lucia (University of Illinois a...",1.0,NaN,NaN,NaN
1,"Abbasi Asl, Reza",Reza,Abbasi Asl,Asl,abbasi@berkeley.edu,NaN,"Abbasi Asl, Reza (University of California, Be...",NaN,NaN,NaN,NaN
2,"Abbott, Joshua Thomas",Joshua Thomas,Abbott,Abbott,joshua.abbott@berkeley.edu,NaN,"Abbott, Joshua Thomas (University of Californi...",NaN,NaN,NaN,NaN

In [15]:
for i in range(wave1.shape[0]):
    if wave1.email[i] in newemail:
        wave1.completednew[i] = 1

D:\Users\15952\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [16]:
wave1.completednew.sum()

82.0

In [17]:
statusmerge.Status10.unique()

array(['Finished Survey', 'Email Sent', 'Email Bounced', 'Started Survey',
       'Opted Out', 'Email Failed', nan], dtype=object)

In [18]:
statusmerge

                           Email         Status10         Status18
0        cabad@fiec.espol.edu.ec  Finished Survey  Finished Survey
1            abbasi@berkeley.edu       Email Sent       Email Sent
2     joshua.abbott@berkeley.edu       Email Sent       Email Sent
3                 keita43@uw.edu    Email Bounced    Email Bounced
4            craberger@gmail.com       Email Sent       Email Sent
...                          ...              ...              ...
2173        ziyadi2@illinois.edu    Email Bounced    Email Bounced
2174                dzou@umn.edu   Started Survey  Finished Survey
2175    wzou@alumni.stanford.edu       Email Sent       Email Sent
2176       zwillin1@illinois.edu       Email Sent       Email Sent
2177       jessicatysu@gmail.com              NaN     Email Failed

[2178 rows x 3 columns]

In [19]:
for i in range(wave1.shape[0]):
    if statusmerge.Status18[i] == 'Started Survey':
        if statusmerge.Status10[i] != 'Started Survey':
            wave1.startednew[i] = 1

D:\Users\15952\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [20]:
wave1['Bounced'] = np.nan
wave1['Opted_Out'] = np.nan

In [21]:
for i in range(wave1.shape[0]):
    if (statusmerge.Status18[i] == 'Email Bounced'):
        if (statusmerge.Status10[i] != 'Email Bounced'):
            wave1['Bounced'][i] = 1

In [22]:
for i in range(wave1.shape[0]):
    if (statusmerge.Status18[i] == 'Email Failed'):
        if (statusmerge.Status10[i] != 'Email Failed'):
            wave1['Bounced'][i] = 1

D:\Users\15952\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [23]:
for i in range(wave1.shape[0]):
    if statusmerge.Status18[i] == 'Opted Out':
        if statusmerge.Status10[i] != 'Opted Out':
            wave1['Opted_Out'][i] = 1

D:\Users\15952\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [24]:
wave1.to_csv(r'C:\\Users\\15952\\Desktop\\CSET\\StatusMerge1221.csv')

In [25]:
import os
os.getcwd()

'C:\\Users\\15952\\Desktop\\CSET\\12.21'

In [26]:
wave1.completednew.sum()

82.0

In [27]:
optout = wave1[wave1.Opted_Out == 1]
optout.head(5)

,name,FirstName,LastName,last_surname_part,email,secondary_email,graduate_id,survey complete_no reminder\n,survey started_no reminder\n,completednew,startednew,Bounced,Opted_Out
109,"Beaulieu-Jones, Brett Kreigh",Brett Kreigh,Beaulieu-Jones,Beaulieu-Jones,Brett_Beaulieu-Jones@hms.harvard.edu,NaN,"Beaulieu-Jones, Brett Kreigh (University of Pe...",NaN,NaN,NaN,NaN,NaN,1.0
115,Austin R Benson,Austin R,Benson,Benson,arb@cs.cornell.edu,NaN,Austin R Benson (Stanford University; 2017),NaN,NaN,NaN,NaN,NaN,1.0
198,"Cannon, Benjamin Zenas",Benjamin Zenas,Cannon,Cannon,benjamin.cannon@trinityschoolnyc.org,NaN,"Cannon, Benjamin Zenas (University of Californ...",NaN,NaN,NaN,NaN,NaN,1.0
225,Daniel A. Chapman,Daniel A.,Chapman,Chapman,dchapman@seechangeinstitute.com,NaN,Daniel A. Chapman (University of Massachusetts...,NaN,NaN,NaN,NaN,NaN,1.0
297,Jaewon Choi,Jaewon,Choi,Choi,jaewon.choi@tufts.edu,NaN,Jaewon Choi (University of Massachusetts Amher...,NaN,NaN,NaN,NaN,NaN,1.0

In [131]:
optouttogoogle = optout.loc[:,['graduate_id','LastName','FirstName','email']]

In [133]:
optouttogoogle.to_csv(r'C:\\Users\\15952\\Desktop\\CSET\\newoptouts1221.csv')