In [1]:
import pandas as pd
import numpy as np

In [2]:
wave1 = pd.read_csv('Wave1PhD.csv')

In [7]:
wave1.head(5)
wave1 = wave1.loc[:,['FirstName','LastName','email','graduate_id']]

In [8]:
bademails = pd.read_csv('Wave1PhDBadEmails.csv')
optouts = pd.read_csv('Wave1PhDOptOuts.csv')

In [18]:
bademails = bademails.rename(columns = {'Email [bad]': 'email'}).dropna()

In [19]:
bademails

    last_name   first_name                     email
0    Vigorito  Christopher     vigorito@cs.umass.edu
1     McMahon        Devin     mcmahond@stanford.edu
2       Shang        Shang      sshang@princeton.edu
3        Yang          Rui          ruiy@ece.cmu.edu
4         Yee         Chia         chye@michigan.edu
..        ...          ...                       ...
242      Zhao          Yan              haox@mit.edu
243      Zhao        Qiuye       zhaoqiuye@ict.ac.cn
244      Zhao    Xiaochuan         xzhao@ee.ucla.edu
245      Zhou         Ziwu  ZiwuZhou@mednet.ucla.edu
246    Ziyadi      Mojtaba      ziyadi2@illinois.edu

[247 rows x 3 columns]

In [20]:
optouts.head(5)

        last_name    first_name                    Email
0  Barzegarjalali         Saeid         sbarzega@usc.edu
1             Jia       Chaoqun       enzo.jia@gmail.com
2         Poullis   Charalambos  charalambos@poullis.org
3            Wang        Jianyu        wjyouch@gmail.com
4          Becker  Georg Tobias    georg.becker@esmt.org

In [21]:
optouts = optouts.rename(columns = {'Email':'email'})

In [23]:
optouts.dropna(inplace = True)

In [24]:
optouts

         last_name       first_name                          email
0   Barzegarjalali            Saeid               sbarzega@usc.edu
1              Jia          Chaoqun             enzo.jia@gmail.com
2          Poullis      Charalambos        charalambos@poullis.org
3             Wang           Jianyu              wjyouch@gmail.com
4           Becker     Georg Tobias          georg.becker@esmt.org
5          Bowring         James F.              bowringj@cofc.edu
6             Chen          Yu-Ping            pingchen@ntu.edu.tw
7           Donnal             John                donnal@usna.edu
8      Gillenwater         Jennifer             jgillenw@gmail.com
9        Grigorian           Beayna           bgrigori@cs.ucla.edu
10           Heule           Stefan         sheule@cs.stanford.edu
11            Iyer  Geoffrey Sankar           gsiyer@math.ucla.edu
12       Juefei-Xu            Felix            Juefei.xu@gmail.com
13              Ko           Jin A.           jako@mgh.harvard.edu
14        Korponay             Cole   ckorponay@mclean.harvard.edu
15          Kottur           Satwik             satwik27@gmail.com
16        Kurdziel            Laura        kurdziell@merrimack.edu
17             Lee           Hyunju           hyunjulee@gist.ac.kr
18            Mead        Ross Alan               rossmead@usc.edu
19           Nabet        Barzin Y.            barzin@stanford.edu
20         Petinot             Yves       ypetinot@cs.columbia.edu
21            Saxe   Andrew Michael       andrew.saxe@psy.ox.ac.uk
22        Schnabel  Tobias Benjamin  tobias.schnabel@microsoft.com
23        Schulman             John              joschu@openai.com
24          Sochat          Vanessa           vsochat@stanford.edu
25      Suksompong            Warut   warut.suksompong@cs.ox.ac.uk
26          Twomey        Edward C.  edward_twomey@hms.harvard.edu
27          Vahaba           Daniel              dvahaba@umass.edu
28            Wang             Qing            Qing.Wang@wbs.ac.uk
29             Woo          Jonghye           jwoo@mgh.harvard.edu
30             Yin         Jiangtao             jyin@ecs.umass.edu
31             Zhu            Yixin             yixin.zhu@ucla.edu

In [30]:
bademailswithID = bademails.merge(wave1, how = 'left', on = 'email')

In [32]:
optoutswithID = optouts.merge(wave1, how = 'left', on = 'email')

In [29]:
import os
os.getcwd()

'C:\\Users\\15952\\Desktop\\CSET'

In [34]:
bademailswithID.to_csv(r'C:\\Users\\15952\\Desktop\\CSET\\BadEmailswID.csv')

In [35]:
optoutswithID.to_csv(r'C:\\Users\\15952\\Desktop\\CSET\\OptOutswID.csv')